.cv-fieldset {
  color: #846f63;
  border: 2px solid #846f63;
  border-radius: 35px;
  padding: 20px 45px;
}

.dashboard-cv h1 {
  font-size: 30px;
  font-weight: 600;
  margin-left: 130px;
  padding: 20px 0px;
  text-transform: uppercase;
}

.artists-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.artists-table th,
.artists-table td {
  border: 1px solid #846f63;
  padding: 10px;
  text-align: left;
}

.artists-table th {
  background-color: #846f63;
  color: #f5ebe0;
}

.artist-img,
.work-img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.delete-btn,
.edit-btn,
.save-btn,
.cancel-btn {
  background-color: #846f63;
  border: 2px solid #846f63;
  color: #f5ebe0;
  padding: 8px 15px;
  border-radius: 35px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  margin: 5px;
}

.delete-btn:hover,
.edit-btn:hover,
.save-btn:hover,
.cancel-btn:hover {
  background-color: transparent;
  border: 2px solid #846f63;
  color: #846f63;
}

.edit-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
  border: 2px solid #846f63;
  border-radius: 35px;
  margin: 20px 0;
}

.edit-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-form input {
  flex: 1;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #846f63;
  border-radius: 5px;
}
