.events-123 {
  width: 1100px;
  height: 400px;
  display: flex;
  margin-left: 130px;
  margin-bottom: 160px;
}
.all-events-123 {
  margin-left: 20%;
}
.right-exhibition {
  display: flex;
  flex-direction: column;
  margin-left: 165px;
  text-align: left;
}
.top-exheb {
  display: flex;
}

.events-on-top h1 {
  width: 500px;
  height: 70px;
  font-size: 45px;
  line-height: 1.2em;
  color: #b89d4f;
  position: relative;
  left: 40%;
  right: 40%;
  margin-bottom: 100px;
}

.top-exheb h2 {
  width: 130px;
  height: 42px;
  line-height: 1.8em;
  color: white;
  margin-bottom: 34px;
}
.top-exheb img {
  width: 200px;
  height: 2px;
  margin-left: 50px;
  margin-top: 22px;
}
.bottom-exheb h2 {
  width: 420px;
  height: 130px;
  color: #b89d4f;
  letter-spacing: 3px;
  line-height: 1.2em;
  text-align: left;
}

.bottom-exheb p {
  width: 320px;
  height: 75px;
  color: #b89d4f;
  line-height: 30px;
  text-align: left;
  font-size: 16px;
  margin-top: -30px;
}

.cow-image {
  width: 400px;
  height: 400px;
}
/* /////////////////////// */
.events-1234 {
  width: 1100px;
  height: 400px;
  display: flex;
  margin-left: 130px;
  margin-bottom: 160px;
}

.right-exhibition4 {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  text-align: left;
}
.top-exheb4 {
  display: flex;
}

.events-on-top4 h1 {
  width: 500px;
  height: 70px;
  font-size: 55px;
  line-height: 1.2em;
  color: #b89d4f;
  position: relative;
  left: 32%;
  margin-bottom: 100px;
}

.top-exheb4 h2 {
  width: 130px;
  height: 42px;
  line-height: 1.8em;
  color: white;
  margin-bottom: 34px;
}
.top-exheb4 img {
  width: 200px;
  height: 2px;
  margin-left: 50px;
  margin-top: 22px;
}
.bottom-exheb4 h2 {
  width: 420px;
  height: 130px;
  color: #b89d4f;
  letter-spacing: 3px;
  line-height: 1.2em;
  text-align: left;
}

.bottom-exheb4 p {
  width: 320px;
  height: 75px;
  color: #b89d4f;
  line-height: 30px;
  text-align: left;
  font-size: 16px;
  margin-top: -30px;
}

.cow-image4 {
  width: 400px;
  height: 400px;
  position: relative;
  left: 150px;
}
.exhibiii {
  width: 200px;
  height: auto;
  color: #b89d4f;
  margin-left: 42%;
  position: relative;
  top: -80px;
}
.exhibiii-button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center; /* Center text horizontally */
  position: relative;
  padding: 0.6em 2em;
  border: 1.5px solid #b89d4f;
  border-radius: 0.25em;
  width: 200px;
  height: 40px;
  color: #b89d4f;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  background-color: transparent; /* Ensures background is transparent */
}

.exhibiii-button p {
  z-index: 1;
  margin: 0; /* Remove default margin from p tag */
}

.exhibiii-button:hover {
  color: #212121;
}

.exhibiii-button:active {
  border-color: teal;
}

.exhibiii-button::after,
.exhibiii-button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #b89d4f;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.exhibiii-button::before {
  left: 0;
  transform: translateX(-8em);
}

.exhibiii-button::after {
  right: 0;
  transform: translateX(8em);
}

.exhibiii-button:hover::before {
  transform: translateX(-1em);
}

.exhibiii-button:hover::after {
  transform: translateX(1em);
}
]]
.exhibiii-button:active::before,
.exhibiii-button:active::after {
  background: teal;
}

.events-and-programs {
  margin-bottom: 100px;
}
