.title-gallery-home {
  color: white;
  font-size: 55px;
  letter-spacing: 10%;
}
.top-123 {
  display: flex;
  justify-content: center; /* Centers the main-title horizontally */
  width: 100%; /* Takes full width of the container */
}
.top-123 {
}
.top-123 img {
  margin-left: 10px;
}
.top-123 h1 {
  width: auto;
  height: auto;
  margin-left: 190px;
  margin-bottom: 81px;
  margin-left: 40px;
}
.gallery-section {
  display: flex;
  align-items: center;
  margin-bottom: 140px;
}
.gallery-section .text-box {
  flex: 1;
  margin-right: 20px;
}
.gallery-section .image-gallery1 .image-gallery2 {
  flex: 1;
}

.gallery-section img {
  width: 500px;
  height: 400px;
  max-width: 500px;
}

.reverse {
  flex-direction: row-reverse;
}
.text-box {
  flex: 1;
  line-height: 30px;
  letter-spacing: 1.2px;
  font-size: 20px;
  color: white;
  text-align: left;
}
.date-time,
.location,
.host,
.exhibition-name,
.description,
.featured-artists {
  margin-bottom: 10px;
}
.gallery-home {
  width: auto;
  max-width: 80%;
  margin: 0 auto;
  margin-top: -100px;
}
.image-gallery1 img,
.image-gallery2 img {
  width: 600px;
  height: 600px;
  max-width: 100%;
  transition: transform 0.3s ease; /* Add transition effect */
}

.image-gallery1 img:hover,
.image-gallery2 img:hover {
  cursor: pointer; /* Change cursor on hover */
  transform: scale(1.1); /* Increase scale on hover */
}
