/* Button Animation */
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.section2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.artist-list {
  display: flex;
  height: auto;
  margin-bottom: 20px;
}

.left-artist-des,
.left-artist-des2 {
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-right: 150px;
  color: #ffffff;
  position: relative;
  bottom: 40px;
}

.left-artist-des h2,
.left-artist-des2 h2 {
  font-size: 25px;
  font-family: rubik;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 30px;
  text-align: left;
}

.left-artist-des p,
.left-artist-des2 p {
  max-width: 445px;
  height: 220px;
  font-size: 13px;
  line-height: 1.9;
  text-align: justify;
  font-family: Rubik, sans-serif;
  margin: 0;
  margin-bottom: 30px;
}

.left-artist-des button,
.left-artist-des2 button {
  width: 83px;
  height: 35px;
  border-radius: 12px;
  font-size: 10px;
  font-weight: 700;
  color: #ffffff;
  background-color: #111111;
}

.right-image-des img,
.right-image-des2 img {
  max-width: 445px;
  width: 445px;
  height: 300px;
  margin-right: 75px;
}

.right-rect img,
.right-rect2 img {
  width: 100px;
  height: 300px;
}

.button-special {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.4em 1em;
  border: #b89d4f solid 0.15em;
  border-radius: 0.25em;
  color: #b89d4f;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  width: 93px;
  height: 35px;
  animation: fade-down 1s 0.4s ease-in-out backwards;
}

.button-special p {
  z-index: 1;
  position: relative;
  left: 3px;
  top: 10px;
  font-size: 8px;
  width: 80px;
  height: 20px;
}

.button-special:hover {
  color: #212121;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.button-special:active {
  border-color: teal;
}

.button-special::after,
.button-special::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #b89d4f;
  opacity: 50%;
  border-radius: 50%;
}

button-special {
  margin-top: -40px !important;
  margin-left: 350px;
}
.button-special {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.4em 1em;
  border: #b89d4f solid 0.15em;
  border-radius: 0.25em;
  color: #b89d4f;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  width: 113px !important;
  height: 15px;
  animation: fade-down 1s 0.4s ease-in-out backwards;
}

.button-special p {
  z-index: 1;
  position: relative;
  left: 14px;
  top: 10px;
  font-size: 16px;
  width: 90px;
  height: 20px;
}

.button-special:hover {
  color: #212121;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.button-special:active {
  border-color: teal;
}

.button-special::after,
.button-special::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #b89d4f;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button-special::before {
  left: 0;
  transform: translateX(-8em);
}

.button-special::after {
  right: 0;
  transform: translateX(8em);
}

.button-special:hover:before {
  transform: translateX(-1em);
}

.button-special:hover:after {
  transform: translateX(1em);
}

.button-special:active:before,
.button-special:active:after {
  background: teal;
}
.button-special123 {
  margin-top: -40px !important;
  margin-left: 350px;
}
.button-special123 {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.4em 1em;
  border: #b89d4f solid 0.15em;
  border-radius: 0.25em;
  color: #b89d4f;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  width: 93px !important;
  height: 15px;
}

.button-special123 p {
  z-index: 1;
  position: relative;
  left: 3px;
  top: 10px;
  font-size: 16px;
  width: 80px;
  height: 20px;
}

.button-special123:hover {
  color: #212121;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.button-special123:active {
  border-color: teal;
}

.button-special123::after,
.button-special123::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #b89d4f;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button-special123::before {
  left: 0;
  transform: translateX(-8em);
}

.button-special123::after {
  right: 0;
  transform: translateX(8em);
}

.button-special123:hover:before {
  transform: translateX(-1em);
}

.button-special123:hover:after {
  transform: translateX(1em);
}

.button-special123:active:before,
.button-special123:active:after {
  background: teal;
}
