.single-exhibition-page1 {
  font-family: "Libre Baskerville", sans-serif;
  color: white;
  background-color: #1f1f1f; /* Background color */
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Ensure the page takes at least the full viewport height */
}

.banner1 {
  width: 100%; /* Full width */
  height: 800px; /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
  position: relative; /* Enable absolute positioning for overlay */
  display: flex; /* Use flexbox for positioning */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin-bottom: 50px; /* Increase spacing below the banner */
}

.banner1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark gray with 50% opacity */
  backdrop-filter: blur(5px); /* Add blur effect */
  z-index: 0; /* Place the overlay behind the banner content */
}

.banner-content1 {
  display: flex; /* Use flexbox for horizontal positioning */
  gap: 40px; /* Increase space between the title and the info box */
  position: relative; /* Allow positioning elements within the banner */
  z-index: 1; /* Place the banner content on top of the overlay */
  text-align: left; /* Align text within the banner */
  color: white; /* Ensure text is visible on dark background */
  max-width: 90%;
}

.exhibition-title1 {
  font-size: 3.5em; /* Make the font size bigger */
  font-weight: bold;
  margin: 0; /* Remove default margin */
  color: #b89d4f; /* Ensure text is visible on dark background */
  margin-right: 200px;
  position: relative;
  top: 150px;
}

.info-box1 {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
  padding: 30px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
  max-width: 500px; /* Increase max width of the box */
  text-align: left; /* Align text to the left */
  font-size: larger;
}
.info-box1 p {
  font-size: 22px;
  color: #b89d4f;
  text-align: center;
}

.exhibition-description {
  font-size: 2.2em; /* Increase the font size */
  margin-bottom: 20px; /* Increase spacing below the description */
  font-size: 20px;
}
.exhibition-description p {
  font-size: 20px;
}

.exhibition-details,
.contact-details {
  font-size: 1.5em; /* Increase the font size */
  margin-bottom: 20px; /* Increase spacing below the details section */
}

.detail-item,
.contact-item {
  margin-bottom: 15px; /* Adjust spacing between items */
}

.detail-label {
  font-weight: bold;
  color: #dd7f1f;
  display: block; /* Make label a block element to have the content below it */
}
